
.container
{
   width: 500px;height: auto;
    text-align: center;
    font-size: medium;
    margin: 100px auto ;
    
}

.sliderboyut
{
  
    text-align: center;
    font-size: medium;
    margin: 500px 500px 500px 500px  ;
    
}
.ilgi
{
    text-align: center;
    color: firebrick;
}
